body {
    padding: 20px;
}

.div-body {
    display: flex;
    justify-content: center;
    margin-top: 200px;

}

input {
    width: 150px;
    padding: 15px;
    margin-right: 10px;
    font-size: 15px;
    outline: none;
    border-radius: 10px;
    border: 1.5px solid #ccc;
}

input:focus {
    border-color: rgb(92, 92, 222);
}

button {
    background-color: rgb(92, 92, 222);
    color: white;
    border: 1.5px solid #ccc;
    border-radius: 10px;
    width: 100px;
    font-size: 15px;
}

.input-values-results {
    display: flex;
    justify-content: center;
    font-family: "Stack Sans Notch", sans-serif;
    font-optical-sizing: auto;
    font-size: 25px;
}

.paragraph {
    font-family: "Stack Sans Notch", sans-serif;
    font-optical-sizing: auto;


}

.h2-home {
    text-align: center;
    font-family: "Stack Sans Notch", sans-serif;
    font-optical-sizing: auto;
    font-size: 40px;
    color: rgb(92, 92, 222);

}

.paragraph-confirmation {
    text-align: center;
}